<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <div class="list-group">
        <a href="/" class="list-group-item"> Home</a>
        {{#if_eq user.userRoleId 2}}
          <a href="/user/archieve" class="list-group-item active">E-archive list</a>
          <a href="/user/inboxDocs" class="list-group-item">Inbox Docs</a>
          <a href="/user/myDocs" class="list-group-item"> My documents</a>
          <a href="/user/createDocsView" class="list-group-item">Upload Document</a>
        {{/if_eq}}

        {{#if_eq user.userRoleId 1}}
          <a href="/user/archieve" class="list-group-item">E-archive list</a>
          <a href="/user/createUser" class="list-group-item">Create User</a>
          <a href="/user/myDocs" class="list-group-item active"> My documents</a>
          <a href="/user/createDocsView" class="list-group-item">Upload Document</a>
          <a href="/user/inboxDocs" class="list-group-item">Inbox Docs</a>
        {{/if_eq}}

        <!-- {{#if_eq user.userRoleId 3}}
          <a href="/user/myDocs" class="list-group-item active"> My documents</a>
          <a href="/user/createDocsView" class="list-group-item">Upload Document</a>
          <a href="/user/inboxDocs" class="list-group-item">Inbox Docs</a>
        {{/if_eq}} -->


      </div>
    </div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <h4>My Documents</h4>
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-stipped">
              <thead>
              <th>File name</th>
              <th>Description</th>
              <th>Document Type</th>
              <th>Download link</th>
              <th>Send to</th>
              <th>Task</th>
              <th></th>
              <thead>
              <tbody>
              <tr>
              {{#each docList}}
                  <td>{{name}}</td>
                  <td>{{description}}</td>
                {{#each ../docTypes}}
                  {{#if_eq ../docTypeId id}}
                      <td>{{name}}</td>
                  {{/if_eq}}
                {{/each}}
                  <td><a href="/user/downloadDoc/{{id}}">Download</a></td>
                  <td>
                    <div class="">
                      <form class="" action="/user/createDocToUser" method="post">
                        <input hidden="true" type="number" name="docId" value="{{id}}">
                        <label for="">Send To: </label>
                        <select class="" name="userId">
                          {{#each ../userList}}
                            <option value="{{id}}">{{username}}</option>
                          {{/each}}
                        </select>
                        <br>
                        Task:
                        <input type="text" name="message">
                        <button class="" type="submit">Send</button>
                      </form>
                      <br>
                    </div>
                  </td>
                  <form action="/user/documentDelete/{{id}}" method="post">
                    <td><button type="submit" name="Delete" value="" class="btn-link">Delete</button></td>
                  </form>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
